.myFormClass{
  border: 1px solid green;
  box-shadow:5px 5px 5px 0 rgba(0,91,9,0.2);
  margin: 20px 0;
  position: relative;
}

.myFormButton{
  background-color: green;
  color: white;
  width: 200px;
  height: 40px;
  outline: none;
  border-radius: 5px;
  cursor:pointer;
  margin: 10px 40px;
  user-select:none;
}

.myFormButton:disabled{
  background-color: grey;
  user-select:none;
}
.myFormButtonDiv{
  text-align: center;
}

.colorTextLegend{
  color: green;
  user-select:none;
}