body{
     margin: 0;
     padding: 0;
     }
    .boxcentral{
        border: 1px transparent;
        text-align: center;
        margin: 0 auto;
        width: 70%;
        max-width: 1200px;
        font-family:'Roboto Bk','Courier';
        }
            .menu{
                width: 100%;
                margin: 22px auto;
                padding: 0;
                text-align: center;
                }
                    a{
                        padding: 0;
                        margin: 0 26px;
                        font-size: 18px;
                        font-weight: bolder;
                        color: #16a085;
                        text-decoration: none;
                        }
            .boximg{
                margin: 0;
                padding: 0;
                }
                        img{
                            width: 100%;
                        }
                        .imgdownload{
                            width: 100%;
                            opacity: 70%;
                        }
            .boxtxt{
                background-color:#f5f6f7;
                margin: 0;
                padding: 0;
                color: #373737;
                width: 100%;
                }
                    h2 {
                        margin: 0 0 0 0;
                        padding: 39px 0 23px 0;
                        font-size: 22px;
                        font-weight: bolder;
                    }
                    .pclass{
                        font-size: 16px;
                        font-weight: bolder;
                        margin: 0 75px 27px 75px;
                        padding: 0 0 0 0;
                    }
                    button{
                        vertical-align: middle;
                        font-family: 'Gotham Rounded Bold', 'Myriad Pro';
                        font-size: 11pt;
                        color: #ffffff;
                        background-color: #16a085;
                        width: 128px;
                        height: 34px;
                        margin: 0 0 63px 0;
                        padding: 0;
                    }

            .boxcopyright{
                text-align: right;
                font-size: 16px;
                font-weight: bolder;
                margin: 30px 70px 30px 0;
                padding: 0 0 0 0;
                }


