html{
    overflow: hidden;
}
body{
    margin: 0 auto;
    padding: 0;
    font-family: sans-serif;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 50px;
}
/*Все секции в верхней половине сайта (верхнее меню, The latest news, Most popular posts) должны быть выполнена используя Flexbox*/
.container{
    margin: 0 auto;
    background-color: #f2f2f2;
    position: relative;
    z-index: -2;
}
/*Меню----------------------------------------------------*/
.navbar{
    background-color: #1d2124;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}
.logo{
    display: flex;
    align-items: center;
}
.logo_text{
    margin-left: 10px;
    color: white;
    font-size: 22px;
}

.main_menu_block{
    margin: 0;
    padding: 0;
    color: white;
    display: flex;
    width: 702px;
    font-size: 15px;
}

.main_menu_block > li{
    list-style-type: none;
    flex-grow: 1;
    padding: 2px;
}
.menu_style{
     text-decoration: none;
     color: white;
     text-transform: uppercase;
 }
/*Шапка с паралаксом*/
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.header::before {
    content: '';
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -1;
    transform: translateZ(-150px) scale(4);
    background: center/cover no-repeat;
}
.parallax-section_1{
    height: 404px;
}
.parallax-section_1::before{
    background-image: url("../img/header-bg.jpeg");
    background-position-y: bottom;
}
.header_text{
    color: white;
    font-family: ﻿AdobeInvisFont, ﻿OpenSans, ﻿Courier, sans-serif;
    font-size: 27px;
    text-align: center;
}
.button{
    width: 170px;
    height: 55px;
    margin-top: 44px;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    line-height: 55px;
    text-align: center;
}
.button_block{
    display: flex;
    justify-content: center;
    align-items: center;
}
.button_subscribe{
    background-color: #89ca62;
    margin-right: 10px;
}
.button_best{
    background-color: #14b9d5;
    margin-left: 10px;
}

/*Галерея популярных постов*/
.popular_posts{
    width: 1170px;
    height: 967px;
    margin: 0 auto 40px;
}
.text_most_popular{
    text-transform: uppercase;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿OpenSans-Bold, sans-serif;
    font-size: 27px;
    color: rgba(24, 180, 207, 255);
    text-align: center;
    margin: 60px 0;
    font-weight: bold;
}
.img_bl_posts{
    width: 1170px;
    height: 880px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: space-between;

}
.text_post{
    padding: 20px 0;
    background-color: white;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿OpenSans-Bold, sans-serif;
    font-size: 18px;
    color: rgba(53, 58, 61, 255);
    text-align: center;
    font-weight: bold;
}
.img_text_post{
    margin-bottom: 30px;
}

/*Все секции в нижней половине сайта (Our most popular clients, Top rated, Hot news, подвал) должны быть выполнена используя функционал CSS Grid*/
.container_2{
    margin: 0 auto;
    background-color: #ffffffff;
}
/*Шапка 2 с паралаксом и затемнением фона*/
.header_2{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.header_2::before {
    content: '';
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -1;
    transform: translateZ(-150px) scale(4);
    background: center/cover no-repeat;
}
.parallax-section_2{
    height: 590px;
}
.parallax-section_2::before{
    content: "";
    background-image: url("../img/parallax-bg.jpeg");
    background-position-y: bottom;
}

.header_2::after{
    content: "";
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.header_2_text{
    position: relative;
    width: 881px;
    height: 193px;
    margin: 200px auto;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    grid-gap: 15px;
    z-index: 3;
}
.header2_cell_1{
    text-transform: uppercase;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿OpenSans-Bold, sans-serif;
    font-weight: bold;
    font-size: 32px;
    color: rgba(255, 255, 255, 255);
}
.header2_cell_2{
    width: 60px;
    height: 1px;
    border: #169cb4 1px solid;
}
.header2_cell_3{
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 75px;
    align-items: center;
}

/*Галерея картинок с однострочным гридом*/
.latest_post_thumbnails{
    display: grid;
    grid-template-columns: repeat(7, calc(100vw/7));
}
.width_img{
    width: 100%;
}
/* Четырехстрочный макет с Гридом на сетке*/
.most_liked_posts_list{
    display: grid;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿OpenSans-Bold, sans-serif;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-gap: 35px;
    width: 1169px;
    margin: 0 auto 71px;
    align-items: center;
    text-align: right;
    grid-template-areas:
            "cell_1 cell_1 cell_1 cell_2"
            "cell_3 cell_3 cell_4 cell_4"
            "cell_5 cell_5 cell_6 cell_6"
            "cell_7 cell_8 cell_8 cell_8";
}
p{
    margin: 0;
    padding: 0;
}
.cell_1{
    grid-area: cell_1;
    display: grid;
    grid-template-columns: auto auto;
}
.img_1_block{
    width: 483px;
    height: 259px;
}
.text_block_1_8{
    height: 259px;
    background-color: #f9f7f7;
    padding: 0 15px 0 15px;
}
.text_block_1_8 > div{
    padding-top: 15px;
}

.cell_2{
    grid-area: cell_2;
}

.cell_2_txt{
    padding: 16px;
    background-color: #f9f7f7;
    text-align: center;
}

.cell_3{
    grid-area: cell_3;
    justify-self: left;

}
.cell_3_img{
     width: 554px;
     height: 259px;
 }
.cell_3_txt{
    width: 524px;
    padding: 16px 15px 15px 15px;
    margin-block-start:0;
    margin-block-end: 0;
    background-color: #f9f7f7;
}

.cell_4{
    grid-area: cell_4;
    justify-self: right;
}
.cell_5{
    grid-area: cell_5;
    justify-self: left;
}
.cell_6{
    grid-area: cell_6;
    justify-self: right;

}
.cell_7{
    grid-area: cell_7;
}
.cell_8{
    grid-area: cell_8;
    display: grid;
    grid-template-columns: auto auto;
}
.content_topic_size{
    font-size: 18px;
    font-weight: bold;
}
.content_text_size{
    font-size: 14px;
}

/*Подвал сайта*/
.footer{
    background-color: #1d2124;
    height: 80px;
    padding: 0 10px;
}
.container_footer{
    margin: 0 auto;
    width: 1169px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 80px;
    align-items: center;
}
.logo_footer{
    align-self:center;
    justify-self: right;
    margin: 0 5px;
    display: grid;
    align-items: center;
    grid-template-columns: auto auto;
}
.footer_text{
    font-size: 13px;
    color: white;
}