@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap');
body{
    margin: 0 auto;
    padding: 0;
    font-family:  'Open Sans', sans-serif;
    width: 100%;
}
/*Все секции в верхней половине сайта (верхнее меню, The latest news, Most popular posts)
должны быть выполнена используя Flexbox*/

.container{
    max-width: 1900px;
    margin: 0 auto;
    background-color: #f2f2f2;
}

/*Меню----------------------------------------------------*/
.nav_bar{
    background-color: #1d2124;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}
.logo{
    display: flex;
    align-items: center;
}

.logo_text{
    margin-left: 10px;
    color: white;
    font-size: 22px;
}

.main_menu_block{
    margin: 0;
    padding: 0;
    color: white;
    display: flex;
    width: 702px;
    font-size: 15px;
    font-weight: bold;
    justify-content: space-between;
    /*align-self: center;*/
}

.main_menu_block > li{
    list-style-type: none;

}
.menu_style{
     text-decoration: none;
     color: white;
     text-transform: uppercase;

 }

/*Шапка со статическим паралаксом*/

.header{
    height: 404px;
    background-image: url("../img/header-bg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -300px ;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_text{
    color: white;
    font-size: 27px;
    text-align: center;

}
.button{
    width: 170px;
    height: 55px;
    margin-top: 44px;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    line-height: 55px;
    text-align: center;
}

.button_block{
    display: flex;
    justify-content: center;
    align-items: center;
}

.button_subscribe{
    background-color: #89ca62;
    margin-right: 10px;
}

.button_best{
    background-color: #14b9d5;
    margin-left: 10px;
}

/*Галерея популярных постов*/

.popular_posts{
    width: 1170px;
    height: 967px;
    margin: 0 auto 40px;
}
.text_most_popular{
    text-transform: uppercase;
    font-size: 27px;
    color: rgba(24, 180, 207, 255);
    text-align: center;
    margin: 60px 0;
    font-weight: bold;
}
.img_bl_posts{
    width: 1170px;
    height: 880px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: space-between;

}
.text_post{
    padding: 20px 0;
    background-color: white;
    font-size: 18px;
    color: rgba(53, 58, 61, 255);
    text-align: center;
    font-weight: bold;
}
.img_text_post{
    margin-bottom: 30px;
}

/*Все секции в нижней половине сайта (Our most popular clients, Top rated, Hot news, подвал) должны быть выполнена
используя функционал CSS Grid*/

.container_2{
    max-width: 1900px;
    margin: 0 auto;
    background-color: #ffffffff;
}

/*Шапка 2 со статическим паралаксом и затемнением фона*/

.header_2{
    box-sizing: border-box;
    height: 590px;
    background-image: url("../img/parallax-bg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    /*background-position-y: -200px ;*/
    position: relative;
    border: 0.1px solid transparent;
    background-attachment: fixed;
    padding: 200px calc((100% - 881px)/2);
}
.header_2::after{
    content: "";
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.header_2_text{
    position: relative;
    width: 881px;
    height: 193px;
    /*margin: 200px auto;*/
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    grid-gap: 15px;
    z-index: 3;
    /*left: auto;*/
    /*right: auto;*/
}
.header2_cell_1{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 32px;
    color: rgba(255, 255, 255, 255);
}
.header2_cell_2{
    width: 60px;
    height: 1px;
    border: #169cb4 1px solid;
}
.header2_cell_3{
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 75px;
    align-items: center;
}

/*Галерея картинок с однострочным гридом*/

.latest_post_thumbnails{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
.width_img{
    width: 100%;
}

/* Четырехстрочный макет с Гридом на сетке*/

.most_liked_posts_list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-gap: 35px;
    width: 1169px;
    margin: 0 auto 71px;
    align-items: center;
    text-align: right;
    grid-template-areas:
            "cell_1 cell_1 cell_1 cell_2"
            "cell_3 cell_3 cell_4 cell_4"
            "cell_5 cell_5 cell_6 cell_6"
            "cell_7 cell_8 cell_8 cell_8";
}
p{
    margin: 0;
    padding: 0;
}
.cell_1{
    grid-area: cell_1;
    display: grid;
    grid-template-columns: auto auto;
}
.cell_1_8_img{
    /*width: 483px;*/
    height: 267px;
    display: block;
}
.cell_1_8_txt{
    /*height: 235px;*/
    /*height: auto;*/
    height: 249px;
    background-color: #f9f7f7;
    padding: 18px 25px 0 25px;

}
.padding_text{
    padding: 20px 0 0 0;
}
/*.text_block_1_8 > div{*/
/*    padding-top: 22px;*/
/*}*/

.cell_2{
    grid-area: cell_2;
}

.cell_2_7_img{
    display: block;
}
.cell_2_7_txt{
    padding: 16px;
    background-color: #f9f7f7;
    text-align: center;
}

.cell_3{
    grid-area: cell_3;
    justify-self: left;
}
.cell_3_6_img{
     width: 554px;
     height: 259px;
    display: block;
 }
.cell_3_6_txt{
    width: 504px;
    padding: 16px 25px 15px 25px;
    margin-block-start:0;
    margin-block-end: 0;
    background-color: #f9f7f7;
}

.cell_4{
    grid-area: cell_4;
    justify-self: right;
}
.cell_5{
    grid-area: cell_5;
    justify-self: left;
}
.cell_6{
    grid-area: cell_6;
    justify-self: right;
}

.cell_7{
    grid-area: cell_7;
}
.cell_8{
    grid-area: cell_8;
    display: grid;
    grid-template-columns: auto auto;
}
.content_topic_size{
    font-size: 18px;
    font-weight: bold;
}
.content_text_size{
    font-size: 14px;
}

/*Подвал сайта--------------------------------------*/

.footer{
    background-color: #1d2124;
    height: 80px;
    padding: 0 10px;
}
.container_footer{
    margin: 0 auto;
    width: 1169px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 80px;
    align-items: center;
}
.logo_footer{
    align-self:center;
    justify-self: right;
    margin: 0 5px;
    display: grid;
    align-items: center;
    grid-template-columns: auto auto;
}
.footer_text{
    font-size: 13px;
    color: white;
}