html,
body {
	/*height: 150vh;*/
}

body {
	background-color: #ccc;
	font-family: "Roboto", sans-serif;
	position: relative;
}

* {
	box-sizing: border-box;
}

.wrapper {
	max-width: 1200px;
	margin: 0 auto;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 130vh;

}

.header {
	flex: 0 0 auto;
	margin-top: 10px;
	width: 100%;
	height: 120px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #4f6466;
	padding: 0 20px;
}

.header__logo {
	display: flex;
	align-items: center;
}

.header__logo_text {
	font-size: 50px;
	font-weight: 900;
	color: #22c7b8;
}

.logo {
	width: 100px;
	margin: 0 20px;
}

.button {
	padding: 0 20px;
	min-width: 140px;
	height: 50px;
	font-size: 20px;
	font-weight: bold;
	color: #fff;
	background-color: #22c7b8;
	border: 1px solid transparent;
	border-radius: 10px;
	outline: none;
	transition: all 0.3s ease;
}
.button ~ .button{
	margin-left: 20px;
}
.button:hover {
	background-color: #4f6466;
	border: 1px solid #22c7b8;
}

.main {
	flex: 1 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	/*position: relative;*/
}

.main__text {
	font-size: 30px;
	font-weight: 700;
	text-align: center;
}

.footer {
	margin-top: 20px;
	flex: 0 0 auto;
	background-color: #4f6466;
	height: 100px;
	padding: 12px 40px;
	color: #fff;
	font-size: 15px;
	text-align: center;
	line-height: 25px;

}

.modal {
	width: 500px;
	/*height: 300px;*/
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #4f6466;
	padding: 20px;
	position: absolute;
	top:0;
	/*bottom: 0;*/
	left: 0;
	right: 0;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	z-index: 100;
	/*overflow-y:scroll;*/
	/*overflow: hidden;*/
}


.modal__form {
	/*display: flex;*/
	/*flex-direction: column;*/
	/*justify-content: center;*/
	/*align-items: center;*/
	/*position: absolute;*/
	/*top: 20px;*/
	/*left:50px;*/
	/*z-index: 2;*/
}

.modal input {
	border: none;
	margin-bottom: 15px;
	margin-top:10px;
	width: 300px;
	height: 30px;
}
.modal textarea{
	border: none;
	margin-bottom: 15px;
	margin-top:10px;
	width: 300px;
	height: 30px;
	resize: vertical;
}
.modal select{
	border: none;
	margin-bottom: 15px;
	margin-top:10px;
	width: 300px;
	height: 30px;
}
.modal label{
	padding: 5px;
}
.modalEl{
	/*border: red solid 1px;*/
	display: flex;
	flex-direction: column;
	text-align: center;
	color: white;
}
.allDoctors{
	display: flex;
	flex-direction: column;
}
.allEl{
	display: flex;
	flex-direction: column;
}
.personally{
	display: flex;
	flex-direction: column;
}

.divFon{
	position: absolute;
	top: 0;
	left: 0;
	background-color: white;
	opacity: 95%;
	z-index: 2;
	width: 100%;
	height: 100%;
}
#newVisit_button{
	display:none;
}
#logout_button{
	display:none;
}