/* Small Devices, Tablets */
@media screen and (max-width: 1199px) {

  .posts {
    flex-direction: column;
  }
  .post--item {
    max-width: 100%;
  }
}



/* Extra Small Devices, Phones */
@media screen and (max-width: 767px) {

  .section-title{
    font-size: 14px;
  }

  .post__headline{
    font-size: 14px;
  }
  .post__comments{
    font-size: 11px;
  }
}

@media screen and (max-width: 550px) {
  .post__content-text{
    display: none;
  }

  .post--item{
    flex-direction: column;
    margin-bottom: 15px;

  }

  .post--text{
    padding: 10px 0;
  }
}
