
.posts{
  display: flex;
  flex-wrap: wrap;
}
.post--item{
  display: flex;
  max-width: 50%;
  //border: 1px red solid;
  box-sizing: border-box;
  margin-bottom: 25px;

}



.post--text{
  padding: 0 15px;
}
.post__headline{
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
}
.post__comments{
  font-size: 12px;
  line-height: 26px;
}
.post__content-text{
  font-size: 14px;
  line-height: 22px;
}

@import "_media.scss";
