
.menu--button{
    display: none;
}
.menu--items{
    display: flex;
    justify-content: center;
}
.menu{
    margin: 45px auto;
    ul{
        li{
            //text-decoration: none;
            list-style-type: none;
            padding: 0 20px;
            text-transform: uppercase;
            a{
                color: #000000;
                font-size: 11px;
                line-height: 22px;
            }
            a:hover{
                color: #57A4A4;
            }
        }
    }
}
.image--block{
    margin: 0 auto 45px;
    //margin-bottom:;
    img {
        width: 100%;
    }
}

@import "_media.scss";