/* Small Devices, Tablets */
@media screen and (max-width: 1199px) {

  .menu--items{
    display: flex;
    justify-content: center;
  }
  .menu{
    margin: 45px auto;
    ul{
      li{
        list-style-type: none;
        padding: 0 10px;
        text-transform: uppercase;
        a{
          color: #000000;
          font-size: 11px;
          line-height: 22px;
        }
        a:hover{
          color: #57A4A4;
        }
      }
    }
  }

}


/* Extra Small Devices, Phones */
@media screen and (max-width: 767px) {
  .content {
    padding: 0 25px;
  }
  .none{
    display: none;
  }
  .menu--items{
    background-color: white;
    flex-direction: column;
    position: absolute;
    right: 24px;
  }

  .menu{
    position: relative;
    margin: 25px auto;
    ul{
      li{
        border-bottom: #F5F5F5 2px solid;
        line-height: 24px;
        padding: 0;
        a{
          display: block;
          box-sizing: border-box;
          padding-left: 10px;
          width: 160px;
          outline: none;
        }
      }
    }
  }
  .hoverLi{
    background-color: #F5F5F5;
    box-shadow: -1px 0px 0.2px 2px #F5F5F5;
  }
  
  .menu--button{
    display: block;
    img {
      display: block;
      width: 44px;
      height: 38px;
      margin: 0 0 0 auto;
    }
  }
}

