.borderInputActive{
    outline:none;
    border: solid limegreen 2px;
    box-shadow: 1px 1px 5px rgba(50,205,50,0.5);
}

.borderInputError{
    border: solid red 2px;
    box-shadow: 1px 1px 5px rgba(255,0,0,0.5);
}

.errorSpan{
     display: block;
     position: fixed;
     color: red;
     font-weight: bold;
     font-family: "sans-serif";
 }

.resultSpan{
    height: 35px;
    border: solid limegreen 2px;
    box-shadow: 1px 1px 5px rgba(50,205,50,0.5);
    border-radius: 25px;
    padding-left: 30px;
    padding-top: 15px;
    padding-right: 20px;
    display: block;
    position: fixed;
    color: grey;
    font-weight: bold;
    font-family: "sans-serif";
}

.spanVisible{
    display: none;
}

.inputStyle{
    margin-top: 80px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.cross{
    background-color: gainsboro;
    margin-left: 20px;
    font-size: 10px;
}