/*Центральный блок сайта*/
.container{
    width: 1280px;
    margin: 0 auto;
    font-family: "Roboto Bk", sans-serif;
}

/*Шапка сайта*/

.heder_a{
    text-decoration: none;
}
        .blue{
            color: #4bcaff;
        }
        .logo{
             color: black;
             font-size: 80px;
         }
        .menu_heder{
            background-color: #35444f;
            width: 1280px;
            height: 69px;
            margin: 45px 0 51px 0 ;
            text-align: center;
        }
                .menu_heder_ul_li{
                    display: inline-block;
                    border: 1px transparent solid;
                    padding: 23px  41px 20px 41px;
                    text-align: center;
                    margin: 0 -4px 0 0;
                }

                .menu_heder_ul_li:hover{
                    background-color: #222f3a;
                    border-left-color:#818181;
                    border-right-color:#818181;

                }

                            .menu_heder_ul_li_a{
                                color: white;
                                text-decoration: none;
                                font-size: 24px;
                                text-align: center;
                            }


/* Наполнение сайта*/
.content{
      box-sizing: border-box;
    }

        .left_menu{
            vertical-align: top;
            display: inline-block;
            border: #35444F 1px solid;
            width: 344px;
            height: 399px;
            font-size: 30px;
            text-align: left;
            }
                    .menu_left_ul_li{
                        padding: 25px 0 25px 33px;
                    }

                    .menu_left_ul_li:hover{
                        padding: 25px 33px 25px 43px;
                        background-color: #DBDBDB;
                        font-weight: 600;
                    }
                                .menu_left_ul_li_a{
                                    text-decoration: none;
                                    color: #485863;
                                }

        i{
            margin-left: 43px;
        }





        .content_image{
            vertical-align: top;
            width: 883px;
            text-align: center;
            display: inline-block;
            margin: 0 0 25px 0;
        }
                .img_border{
                    border: #35444F 1px solid;
                    width: 883px;
                    height: 529px;
                }
                    .content_image_img{

                        display:inline-block;
                        width: 320px;
                        height: 381px;
                        margin: 75px auto;
                        transition: 1s; /* Время эффекта */
                    }
                    .content_image_img:hover{
                        transform: scale(1.1); /* Увеличиваем масштаб */
                    }


                .text{
                    font-family: "Roboto Bk", sans-serif;
                    margin: 30px 35px 15px 30px;
                    text-align: left;
                }

/*Подвал сайта*/
.footer_a{
    text-decoration: none;
}
            .menu_footer{
                background-color: #b4b7ba;
                width: 1280px;
                height: 69px;
                font-family: "Roboto Bk", sans-serif;
                text-align: justify;
            }
                    .menu_footer_ul{
                        margin: 0 0 0 20px;
                        display: inline-block;
                    }
                            .menu_footer_ul_li{
                                display: inline-block;
                                border: 1px transparent solid;
                                padding: 23px  10px 20px 10px;
                                text-align: center;
                                margin: 0 -4px 0 0;
                            }
                                    .menu_footer_ul_li_a{
                                        text-decoration: none;
                                        font-size: 28px;
                                        text-align: center;
                                        color: #0c1927;
                                    }
                                    .menu_footer_ul_li_a:hover{
                                         color: #3a85a7;
                                        text-decoration:underline;
                                     }
                                    .menu_footer_ul_li_span{
                                        color: #0c1927;
                                        text-decoration: none;
                                        font-size: 24px;
                                        margin: 0 0 0 150px ;


                                    }