.windowStyle{
  width:600px;
  min-height: 400px;
  background-color: white;
  color: green;
  margin: 40px auto;
  position: relative;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
  overflow:hidden;
  padding: 15px;
  user-select:none;
};

.backgroundStyle{
  width:100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  margin: 0 auto;
  left:0;
  top:0;
  position: fixed;
  z-index: 100;
};

.actionStyle{
  bottom:10px;
  margin: 0 auto;
  position: absolute;
  min-width: 100%;
};

.buttonBlock{
  margin: 10px auto ;
  width: 200px;
  display: flex;
  justify-content: center;

}