.headerStyle{
  display: flex;
  justify-content: space-between;
  //line-height: 100px;
  overflow: hidden;
  margin: 0;
}
hr{
  margin: 10px 0;
  border: 2px green solid;
  box-shadow:5px 5px 5px 0px rgba(0,91,9,0.2);
}
.imgShop{
  margin: 10px 0;
  width: 100%;
}