

.instagram{
  background-color: #f7f7f7;
  padding-bottom: 45px;
  min-width: 100%;
}

.instagram--headline{
  display: flex;
  justify-content: space-between;
  //margin-top: 12px;
  padding: 45px 0 0;
}
.instagram--headline-text{
  text-transform: uppercase;
  margin-bottom: 13px;
  color: #4E4E4E;
  a{
    color: #000000;
  }
  a:hover{
    color: #57A4A4;
  }
}
.instagram--imges{
  display: flex;
  justify-content: space-between;
  //margin-bottom: 45px;

}
.instagram--imges__item{
  img{
    max-width: 98%;

  }
}


@import "_media.scss";