@media screen and (max-width: 1199px){
  .instagram--imges__item:last-child{
    display: none;
  }
}



@media screen and (max-width: 767px){
  .instagram {
    background-color: #ffffff;
  }

  .instagram--imges__item{
    display: none;
  }

  .instagram--imges__item:first-child{
    display: flex;
    justify-content: start;
    max-width: 90%;
  }

  .instagram--headline-text{
    display: none;
  }
}