@font-face {
    font-family: ArimoN;
    src: url('../font/Arimo-Regular.eot');
    src: local('Hello World'), url('../font/Arimo-Regular.eot?#iefix') format('embedded-opentype'),
    url('../font/Arimo-Regular.svg#Arimo-Regular') format('svg'),
    url('../font/Arimo-Regular.ttf') format('truetype'),
    url('../font/Arimo-Regular.woff') format('woff'),
    url('../font/Arimo-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: ArimoBl;
    src: url('../font/Arimo-Bold.eot');
    src: url('../font/Arimo-Bold.eot?#iefix') format('embedded-opentype'),
    url('../font/Arimo-Bold.svg#Arimo-Bold') format('svg'),
    url('../font/Arimo-Bold.ttf') format('truetype'),
    url('../font/Arimo-Bold.woff') format('woff'),
    url('../font/Arimo-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

.content {
    width: 1197px;
    height: 720px;
    background-color: #3a4965;
    margin: 0 auto;
    border: 1px transparent solid;
    text-align: right;
}

/*Построение таблицы--------------------------------------------------*/
table {
    font-size: 16px;
    width: 1140px;
    height: 609px;
    color: #484848;
    background-color: #fafafa;
    margin: 24px auto;
    text-transform: uppercase;
    font-family: ArimoN, AdobeInvisFont, ﻿Courier, sans-serif;
}

tr, td, th, table {
    border-collapse: collapse;
    vertical-align: middle;
}

/*Ширина первого столбца*/
.column_1 {
    width: 198px;
}

/*Ширина столбцов, кроме первого*/
td, th {
    width: 157px;
    text-align: center;
    box-shadow: inset 0 -7px 8px -8px rgba(0, 0, 0, 0.3);

}

/*Cтрока в thead */
thead tr {
    height: 113px;
}

/*Высота всех строк, кроме thead*/
tr {
    height: 167px;
}

/*-------------------------------------------------------------*/

/*Полосатое разукрашивание---------------------------------------*/
td:nth-child(odd) {
    background-color: #f2f2f2;
}

td:nth-child(even) {
    background-color: #e3e3e3;
}


th:nth-child(odd) {
    background-color: #f2f2f2;
}

th:nth-child(even) {
    background-color: #e3e3e3;
}

/*--------------------------------------------------------------*/


/*Значки---------------------------------------------------------*/
i {
    width: 20px;
    height: 20px;
    font-size: 20px;
    color: #848484;
    text-align: center;
}

/*----------------------------------------------------------------*/

/*Верхняя левая ячейка---------------------------------------------*/
.choose_your {
    font-family: ArimoBl, AdobeInvisFont, ﻿Courier, sans-serif;
    font-size: 14px;
    color: rgba(72, 72, 72, 255);
    text-align: center;
}

.pricing_plan {
    font-family: ArimoBl, AdobeInvisFont, ﻿Courier, sans-serif;
    font-size: 20px;
    color: rgba(72, 72, 72, 255);
    text-align: center;
}

/*-------------------------------------------------------------*/


/*Меню таблицы для каждой ячейки---------------------------------*/
.block_dollars {
    display: inline-block;
    font-size: 36px;
    line-height: 60px;
    font-family: ArimoBl, AdobeInvisFont, ﻿Courier, sans-serif;
}

.cents {
    font-size: 18px;
    font-family: ArimoBl, AdobeInvisFont, ﻿Courier, sans-serif;
    font-weight: bold;
    vertical-align: 13px;
}

.per_month {
    line-height: 60px;
    font-size: 14px;
    vertical-align: bottom;
    display: inline-block;
    font-family: ArimoBl, AdobeInvisFont, ﻿Courier, sans-serif;
}

/*----------------------------------------------------------------------*/

/*Разукрашиваем меню и кнопки-------------------------------------------*/
#atlantis {
    background-color: #89C331;
    color: white;
}

#carnation {
    background-color: #F04A56;
    color: white;
}

#elm {
    background-color: #20807C;
    color: white;
}

.tundora {
    background-color: #484848;
    color: white;
}

.alto {
    background-color: #DDDDDD;
    color: white;
}
/*---------------------------------------------------------------------*/

/*Кнопки---------------------------------------------------------------*/
.button {
    width: 144px;
    height: 41px;
    text-transform: uppercase;
    border: none;
    font-family: ArimoBl, AdobeInvisFont, ﻿Courier, sans-serif;
    border-radius: 6px;
    box-shadow: inset 0 -6px 2px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
}

.button:hover {
    transform: scale(1.1);
}
/*---------------------------------------------------------------------*/

.text_size_20 {
    font-size: 20px;
    font-family: ArimoBl, AdobeInvisFont, ﻿Courier, sans-serif;
}

.text_size_24 {
    font-size: 24px;
    font-family: ArimoBl, AdobeInvisFont, ﻿Courier, sans-serif;
}

p {
    margin: 1px 0;
    padding: 0;
}

.next_table {
    font-size: 24px;
    text-shadow: 1px 1px 0 black, 0 0 10px #b3d4fc;
    color: #20807C;;
    text-decoration: none;
    margin: 30px;

}