@font-face {
    font-family: ArimoN;
    src: url('../font/Arimo-Regular.eot');
    src: local('Hello World'), url('../font/Arimo-Regular.eot?#iefix') format('embedded-opentype'),
    url('../font/Arimo-Regular.svg#Arimo-Regular') format('svg'),
    url('../font/Arimo-Regular.ttf') format('truetype'),
    url('../font/Arimo-Regular.woff') format('woff'),
    url('../font/Arimo-Regular.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: ArimoBl;
    src: url('../font/Arimo-Bold.eot');
    src: url('../font/Arimo-Bold.eot?#iefix') format('embedded-opentype'),
    url('../font/Arimo-Bold.svg#Arimo-Bold') format('svg'),
    url('../font/Arimo-Bold.ttf') format('truetype'),
    url('../font/Arimo-Bold.woff') format('woff'),
    url('../font/Arimo-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

.content {
    width: 1192px;
    height: 790px;
    background-color:#3a4965;
    margin: 0 auto;
    border: 1px transparent solid;
    text-align: right;
}

/*Построение таблицы--------------------------------------------------*/
table{
    font-size: 16px;
    width: 1140px;
    height: 682px;
    color: #484848;
    background-color: #fafafa;
    margin: 24px auto;
    text-transform: uppercase;
    font-family: ArimoN, AdobeInvisFont, ﻿Courier,sans-serif;
}
tr,td,th, table{
    border-collapse: collapse;
    vertical-align: middle;
}
/*Ширина столбцов, кроме первого*/
td, th {
    width: 277px;
    text-align: center;
    box-shadow: inset 7px 0 8px -8px rgba(0, 0, 0, 0.3);
}
/*Ширина первого столбца*/
.column_1 {
    width: 310px;
}

/*Высота всех строк, кроме избранных*/
tr{
height: 69px;
}
/*Первая строка в thead = tr*/

/*Вторая строка в thead*/
thead tr:nth-child(2){
    height: 86px;
}
/*Строка в tfoot*/
tfoot tr{
    height: 110px;
}
/*-------------------------------------------------------------*/

/*Полосатое разукрашивание---------------------------------------*/
tbody tr:nth-child(odd){
    background-color: #f2f2f2;
}

tbody tr:nth-child(even){
    background-color: #e3e3e3;
}
/*--------------------------------------------------------------*/


/*Значки---------------------------------------------------------*/
i{
    width: 20px;
    height: 20px;
    font-size: 24px;
    color: #848484;
    text-align: center;
}
/*----------------------------------------------------------------*/

/*Верхняя левая ячейка*/
.choose_your{
    font-family: ArimoBl, AdobeInvisFont, ﻿Courier,sans-serif;
    font-size: 18px;
    color: rgba(72, 72, 72, 255);
    text-align: center;
}
.pricing_plan{
    font-family: ArimoBl, AdobeInvisFont, ﻿Courier,sans-serif;
    font-size: 30px;
    color: rgba(72, 72, 72, 255);
    text-align: center;
}
/*-------------------------------------------------------------*/


/*Меню таблицы для каждой ячейки*/
.block_dollars{
    display: inline-block;
    font-size: 60px;
    line-height: 50px;
    font-family: ArimoBl, AdobeInvisFont, ﻿Courier,sans-serif;
    font-weight: bold;
}

.block_cents{
    display: inline-block;
}
.cents{
    font-size: 24px;
    text-align: left;
    font-family: ArimoBl, AdobeInvisFont, ﻿Courier,sans-serif;
    font-weight: bold;
}
.per_month{
    font-size: 18px;
    text-align: left;
}
/*----------------------------------------------------------------------*/

/*Разукрашиваем меню и кнопки*/
.atlantis{
    background-color: #89C331;
    color: white;
}
.carnation{
    background-color: #F04A56;
    color: white;
}
.elm{
    background-color: #20807C;
    color: white;
}
.tundora{
    background-color: #484848;
    color: white;
}
.alto{
    background-color: #DDDDDD;
    color: white;
}
/*---------------------------------------------------------------------*/

.button{
    width: 192px;
    height: 49px;
    text-transform: uppercase;
    border: none;
    font-family: ArimoBl, AdobeInvisFont, ﻿Courier,sans-serif;
    border-radius: 6px;
    box-shadow: inset 0 -6px 2px rgba(0,0,0,0.2);
    transition: 0.5s;
    font-size: 16px;
}

.button:hover{
    transform: scale(1.1);
}


.text_size_24{
    font-size: 24px;
    font-family: ArimoBl, AdobeInvisFont, ﻿Courier,sans-serif;
}
.text_size_30{
    font-size: 30px;
    font-family: ArimoBl, AdobeInvisFont, ﻿Courier,sans-serif;
}
p{
    margin: 0;
    padding: 0;
}

.next_table{
    font-size: 24px;
    text-shadow: 1px 1px 0 black, 0 0 10px #b3d4fc;
    color: #20807C;;
    text-decoration: none;
    margin: 30px;
}