body{
  font-family: Roboto, sans-serif;
}
.content{
  max-width: 1600px;
  //border: red 1px solid;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 40px;
  transition: max-width 0.3s;
}
a{
  text-decoration: none;
}

.section-title{
  text-transform: uppercase;
  margin-bottom: 16px;
  color: #4E4E4E;
}
