.styleButton{
  background-color: grey;
  color: white;
  width: 200px;
  outline: none;
  margin: 5px;
}
.styleButtonX{
  background-color: #900000;
  color:white;
  position: absolute;
  right:5px;
  top:5px;
  outline: none;
  padding: 5px 10px;
}