.windowStyle{
  width:600px;
  min-height: 400px;
  background-color: darkgrey;
  color: white;
  margin: 40px auto;
  position: relative;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
  overflow:hidden;
  padding: 15px;
};

.backgroundStyle{
  width:100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
  margin: 0 auto;
  position: absolute;
  left:0;
  top:0;
};

.actionStyle{
  bottom:10px;
  margin: 0 auto;
  position: absolute;
  min-width: 100%;
};