li{
  list-style-type: none;
  //margin: 0;

}
ul{
  margin: 55px 0 0;
  padding:0;
}

a{
  text-decoration: none;
  color: green;
  font-weight: bold;
  text-transform: uppercase;
}
a:hover{
  color: #00CC00;
}

.menuStyle{
  display: flex;
  //line-height: 100px;
  align-items: flex-end;
}
li ~ li {
  padding-left: 10px;
}