.myInputClass{
  position: absolute;
  left: 200px;
  line-height: 20px;
  border-color: transparent;
  width: 50%;

}
.myInputLabel{
  margin: 15px 20px;
  line-height: 30px;
  user-select:none;
}

.myInputClass:focus{
  border-color: green;
  box-shadow:-5px 5px 5px 0 rgba(0,91,9,0.2);
  outline: none;
  border-top: none;
  border-right: none;
};

.error{
  font-size: 14px;
  line-height: 20px;
  margin-left: 250px;
  color: red;
  user-select:none;
}