html,
body {
	height: 100%;
}

body {
	background-color: #ccc;
	font-family: "Roboto", sans-serif;
}

* {
	box-sizing: border-box;
}

.wrapper {
	width: 1200px;
	margin: 0 auto;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}

.header {
	flex: 0 0 auto;
	margin-top: 10px;
	width: 100%;
	height: 120px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #4f6466;
}

.header__logo {
	display: flex;
	align-items: center;
}

.header__logo_text {
	font-size: 50px;
	font-weight: 900;
	color: #22c7b8;
}

.logo {
	width: 100px;
	margin: 0 20px;
}

.button {
	padding: 0 20px;
	margin-right: 20px;
	height: 50px;
	font-size: 20px;
	font-weight: bold;
	color: #fff;
	background-color: #22c7b8;
	border: 1px solid transparent;
	border-radius: 10px;
	outline: none;
	transition: all 0.3s ease;
}

.button:hover {
	background-color: #4f6466;
	border: 1px solid #22c7b8;
}

.main {
	flex: 1 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

.main__text {
	font-size: 30px;
	font-weight: 700;
	text-align: center;
}

.footer {
	flex: 0 0 auto;
	background-color: #4f6466;
	height: 100px;
	padding: 12px 40px;
	color: #fff;
	font-size: 15px;
	text-align: center;
	line-height: 25px;
}

.modal {
	width: 400px;
	height: 200px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #4f6466;
}

.modal__form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.modal input {
	border: none;
	margin-bottom: 15px;
	width: 300px;
	height: 35px;
}
