.none{
    display: none;
}
.button{
    display: flex;
    justify-content: center;
}

button{
    margin: 10px;
    width: 150px;
    color: white;
}

.start{
    background-color: green;
}
.stop{
    background-color: red;
}
.timer{
    border: red solid 3px;
    box-shadow: lightgray 1px 1px 2px;
    text-align: center;
    color: red;
    width: 150px;
    height: 50px;
    padding-top: 15px;
    font-size: 25px;
    font-weight: bold;
    margin: 20px;
    position: absolute;
    text-shadow: lightgray 2px 2px 2px;
}