.styleButton{

  background-color: green;
  color: white;
  width: 200px;
  height: 40px;
  outline: none;
  border-radius: 5px;

}

.styleButtonX{
  background-color: #900000;
  color:white;
  position: absolute;
  right:5px;
  top:5px;
  outline: none;
  padding: 5px 10px;
}
.buttonElStyle{
  margin: 10px auto ;
  width: 200px;
}

.buttonElStyle ~ .buttonElStyle{
  margin-left: 10px;
}