.quantityStyle{
  //border: 1px red solid;
  background-color: red;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  text-align: center;
  padding: 2px;
  line-height: 15px;
  font-size: 12px;
  color: white;
  position: absolute;
  top:30px;
}