.clearfix::after {
    clear: both;
    content: "";
    display: table;
}
/*Контейнер с фоном*/
.container {
    background-image: url("../img/rana-sawalha-364253-unsplash@1X.png");
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: sans-serif;
}
/*Шапка сайта*/
.header {
    height: 16px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px 75px 20px 81px ;
}
/*Логотип----------------------------------*/
.jorney {
    text-decoration: none;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    font-family: Verdana;
    font-weight: bold;
    transition: 1s;
    display: inline-block;
    float: left;
    line-height: 20px;
}

.jorney:hover {
    color: #3cb878;
}
/*Логотип------------------------------------*/
/*Иконки со спрайтами------------------------*/
.icon {
    display: inline-block;
    float: right;
    line-height: 20px;
}

.sprite {
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    display: inline-block;
}

.sprite-calck {
    width: 19px;
    height: 19px;
    background-position: -85px -20px;
    margin-left: 28px;
}

.sprite-calck:hover {
    width: 19px;
    height: 19px;
    background-position: -20px -79px;
}

.sprite-compass {
    width: 20px;
    height: 20px;
    background-position: -79px -79px;
    margin-left: 28px;
}

.sprite-compass:hover {
    width: 20px;
    height: 20px;
    background-position: -144px -20px;
}

.sprite-message {
    width: 28px;
    height: 20px;
    background-position: -20px -140px;
    margin-left: 28px;
}

.sprite-message:hover {
    width: 28px;
    height: 20px;
    background-position: -88px -140px;
}
/*Иконки со спрайтами------------------------*/
/*Вертикальная полоса------------------------*/
.line_header {
     border: 0.5px solid rgba(255, 255, 255, 0.1);
    width: 0;
    height: 24px;
    display: inline-block;
    float: right;
    line-height: 20px;
    margin: 0 20px;
}
/*Вертикальная полоса------------------------*/
/*Ссылка на логин----------------------------*/
.welcome {
    color: white;
    display: inline-block;
    float: right;
    line-height: 20px;
    font-size: 14px;
}

.login {
    color: #3cb878;
    text-decoration: none;
    font-size: 14px;
}

.login:hover {
    text-decoration: underline;
}
/*Ссылка на логин----------------------------*/

/*Контент------------------------------------*/

.content {
    position: relative;
    width: 100%;
    height: calc(100% - 56px);
}

.position_vertical {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.login_window {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    width: 444px;
    height: 584px;
    background-color: white;
    border-radius: 10px;
}

/*Зеленый квадрат*/
.green_square {
    width: 18px;
    height: 18px;
    background-color: #3cb878;
    position: absolute;
    top: 30px;
}

.socseti {
    height: 80px;
    width: 325px;
    margin: 29px auto 25px;
}

.socseti_sign_up {
    font-size: 20px;
}

/*Логин по паролю*/
.socseti_login {
    float: right;
}
/*Логин через социальные сети (кнопки)-------------------------------*/
.buttons {
    width: 157px;
    height: 46px;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 0;
}

.button_fb {
    background-color: #305db8;
    transition: 1s;
    float: left;
}

.button_fb:hover {
    background-color: #264b96;
}

.button_g {
    background-color: #df4a32;
    transition: 1s;
    float: right;
}

.button_g:hover {
    background-color: #c3412c;
}

.sprite-facebook {
    width: 10px;
    height: 20px;
    background-position: -139px -80px;
    display: inline-block;
}

.sprite-G {
    width: 25px;
    height: 16px;
    background-position: -20px -20px;
    display: inline-block;
}

.logo_button {
    display: inline-block;
    vertical-align: 3px;
    margin-right: 10px;
}

.line_button {
    border: 0.5px solid rgba(255, 255, 255, 0.1);
    width: 0;
    height: 24px;
    display: inline-block;
    margin: 0 18px 0 0;
}

.text_button {
    font-size: 16px;
    vertical-align: 6px;
}

.margin_button{
    margin-top: 15px;
}
/*---------------------------------------------------------*/

/*Форма создания нового пользователя------------------------*/
.new_user {
    border-top: 1px solid #eaeaea;
    width: 325px;;
    margin: 0 auto;
}

.legend_new_user {
    margin: 25px auto;
    padding: 0 10px;
    color: #848484;
}

.blocks_input {
    width: 322px;
    height: 42px;
    margin: 4px 0;
    border: #eaeaea 1px solid;
    text-indent: 15px;
    border-radius: 4px;
}

.blocks_input::placeholder {
    color: #e1e1e1;
    font-size: 14px;
}
/*Подпрыгивание блока с фокусом вверх*/
.blocks_input:focus {
    box-shadow: -4px 4px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    top: -4px;
    left: -1px;
}
/*Чекбокс----------------------------------------*/
.checkbox {
    margin: 19px 0 25px;
    position: relative;
}

#check {
    display: none;
}

label:before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #fff;
    border: 1px solid #eaeaea;
}

label {
    font-size: 14px;
    padding-left: 25px;
}

.checkbox label:before {
    border-radius: 3px;
}

input[type=checkbox]:checked + label:before {
    content: "\2714";
    font-size: 16px;
    color: #3cb878;
    font-weight: bold;
    text-align: center;
    line-height: 16px;
}
/*----------------------------------------------------*/
/*Отправка формы*/
.create {
    width: 322px;
    height: 46px;
    background-color: #3cb878;
    color: white;
    font-size: 16pt;
    border: none;
    border-radius: 4px;
    transition: 1s;
}

.create:hover {
    background-color: #329a65;
}
/*--------------------------------------------------------------*/

