@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    /*line-height: 25px;*/


}
.container{
    /*border: 1px solid red;*/
    perspective: 50px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}
.header{
    box-sizing: border-box;
    width: 100%;
    position: relative;
    /*z-index: -1;*/
    /*border: 0.1px solid transparent;*/
    padding-top: 270px;
    overflow: hidden;
    height: 100vh;

}
.header::before{
    transform: translateZ(-150px) scale(4);
    background:center/cover no-repeat;
    content: '';
    position: absolute;
    width: 100vw;
    height: 120vh;
    top: 0;
    left: 0;
    z-index: -1;
}
.parallax-section_1{
    height: 765px;
    position: relative;
    overflow: hidden;
}
.parallax-section_1::before {
    background-image: url(../img/bg1.jpg);
}
.header::after{
    content: " ";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
}
.triangle_bottom{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    border-left: 50vw solid white;
    border-right: 50vw solid white;
    border-top: 100px solid transparent;
}
.triangle_top{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    border-left: 50vw solid transparent;
    border-right: 50vw solid transparent;
    border-top: 100px solid white;
}

.block_nav_menu{
    height: 110px;
    background-color: white;
    position: absolute;
    z-index: 2;
    /*margin-top:30px;*/
    top:30px;
    left: 0;
    right: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}
.position_menu{
    min-width: 998px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    /*align-content: center;*/
}
.logo{
    margin: 0;
    padding: 0;
    /*justify-self: left;*/
    font-size: 36px;


}
.style_logo{
    font-size: 36px;
    color: #14afca;
    text-transform: uppercase;
}
.menu{
    display: flex;
    justify-content: space-between;
    /*justify-self: right;*/
    width: 565px;
    margin: 0;
    padding: 0;
}
.menu>li{
    list-style-type: none;

}
.menu_item{
    text-decoration: none;
    font-size: 15px;
    color: black;
    text-transform: uppercase;
    font-weight: bold;

}
.menu_item:hover{
    color: #14afca;
}
.header_text{
    text-transform: uppercase;
    color: white;
    font-size: 52px;
    font-weight: bold;
    text-align: center;
    position: relative;
    z-index: 1;
}
.background::before{
    position: absolute;
    bottom: 0;
    z-index: 1;
    width: 0;
    height: 0;
    border-left: 50vw solid white;
    border-right: 50vw solid white;
    border-top: 100px solid transparent;
}

.what{
    text-align: center;
    padding: 101px 214px;
    /*background-color: darkgray;*/
    overflow: hidden;
    position: relative;
}
.what>h1{
    font-size: 60px;
    color: #14afca;
}

.what>h2{
    font-size: 25px;
    font-weight: bold;
    color: rgba(66, 79, 87, 255);
}
.what>p{
    font-size: 16px;
    color: rgba(66, 79, 87, 255);
    line-height: 25px;
    font-weight: normal;
    position: relative;
}

.header_2{
    box-sizing: border-box;
    width: 100%;
    position: relative;
    /*z-index: -1;*/
    /*border: 0.1px solid transparent;*/
    padding-top: 150px;
    overflow: hidden;
    height: 100vh;

}
.header_2::before{
    transform: translateZ(-150px) scale(4);
    background:center/cover no-repeat;
    content: '';
    position: absolute;
    width: 100vw;
    height: 120vh;
    top: 0;
    left: 0;
    z-index: -1;
}
.header_2::after{
    content: " ";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
}
.parallax-section_2{
    height: 715px;
    position: relative;
    overflow: hidden;
}
.parallax-section_2::before {
    background-image: url(../img/bg2.jpg);
}
.text_header_2{
    margin: 49px;
    position: relative;
    z-index: 1;
}

.row_1{
    /*grid-area:colums_1;*/
    font-size: 60px;
    color: #14afca;
    font-weight: bold;
    padding: 0;
    margin: 0;
    text-align: center;
}
.row_2{
    /*grid-area:colums_2;*/
    font-size: 18px;
    color: white;
    padding: 0;
    margin: 0;
    text-align: center;
}

.logo_header_2{
    display: grid;
    /*grid-auto-columns: 30px 30px 30px 30px;*/
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    /*border: 1px solid red;*/
    grid-row-gap: 20px;
    position: relative;
    z-index: 1;
    grid-template-areas:
            "colums_1 colums_2 colums_3 colums_4"
            "colums_5 colums_6 colums_7 colums_8";
    align-items: center;
    justify-items: center;
}


.columns_1{
    grid-area:colums_1;
}
.columns_2{
    grid-area:colums_2;
    padding: 15px;
    background-color: white;
    justify-self: center;
    align-self: center;
}
.columns_2>img{
    vertical-align: middle;
}
.columns_3{
    grid-area:colums_3;
}
.columns_4{
    grid-area:colums_4;
}
.columns_5{
    grid-area:colums_5;
}
.columns_6{
    grid-area:colums_6;
}
.columns_7{
    grid-area:colums_7;
}
.columns_8{
    grid-area:colums_8;
}

