.imgBlockCardStyle{
  //border: 1px green solid;
  height: 200px;
  width: 80%;
  padding: 10px;
  margin: 10px auto;
  //box-shadow:5px 5px 5px 0px rgba(0,91,9,0.2);

}
.imgBlockCardStyle img{
  display: block;
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;
  position: relative;
  top: 50%;
  transform: translate(0, -50%);

}