@import "_mixin.scss";


.footer{
  background-color: #000000;
  //min-width: 100vw;
}
.footer--text--block{
  padding: 75px 20px;
  color: #FEFEFE;
  text-align: center;
  //max-width: 685px;
  margin: 0 auto;
  line-height: 28px;
}
.footer--text{
  line-height: 28px;
  font-size: 16px;
}
.footer--links{
  padding: 35px 0;
  display: flex;
  justify-content: center;
}

.round_1{
  @include roundEl(#F8902E);
}
.round_2{
  @include roundEl(#39599F);
}
.round_3{
  @include roundEl(#45B0E3);
}
.round_4{
  @include roundEl(#D97AB0);
}
.round_5{
  @include roundEl(#CC212C);
}
.footer--contacts{
  color: #FEFEFE;

}
.footer--section-title__color{
  color: #FEFEFE;

}



@import "_media.scss";