@media  screen and (max-width: 1199px){
  .footer--text--block {
    padding: 75px 20px;
  }
}
@media screen and (max-width: 767px){
  .footer--text--block {
    padding: 75px 20px;
  }
  .footer--links{
    flex-wrap: wrap;
  }
}