@mixin roundEl($color) {
  border: {
    color: $color;
    radius: 50%;
    style: solid;
    width: 2px;
  }
  width: 34px;
  height: 34px;
  background-color: transparent;
  //padding: 2px;
  box-sizing: border-box;
  margin: 0 3px;
}