body{
    overflow: hidden;
    margin: 0;
}
.container{
    background-color: black;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    border: 1px solid transparent;
    perspective: 1000px;

}
.square{
    box-sizing: border-box;
    background-color: black;
    width: 88vw;
    height: 100%;
    transform: rotateX(40deg) ;
    transform-origin: bottom;
    padding: 0 40px;
    margin: 0 auto;

}
.text{
    background-color: black;
    animation-name: text_anim;
    animation-duration: 30s;
    animation-timing-function: linear;
    font-size: 100px;
    animation-iteration-count: infinite;
    text-align: justify;
    color: yellow;
    font-weight: bold;
    font-family: sans-serif;
    transform-origin: bottom;
}
.center{
    text-align: center;
}

@keyframes text_anim {
    0% {
        transform: translateY(60%);
    }
    100% {
        transform: translateY(-120%);
    }
}