@font-face {
    font-family: 'Verdana-bold';
    src: url('../fonts/verdanab.eot');
    src: local('☺'), url('../fonts/verdanab.woff') format('woff'), url('../fonts/verdanab.ttf') format('truetype'), url('../fonts/verdanab.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.background {
    max-width: 1366px;
    background-image: url("../img/background1.png");
    margin: 0 auto;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
}

.background::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.73);
    z-index: 2;
}

.clearfix::after {
    clear: both;
    content: "";
    display: table;
}

.container_content {
    max-width: 1064px;
    margin: 0 auto;
    font-family: "Verdana", sans-serif;
    font-size: 18px;
    color: white;
    position:relative;
    z-index: 3;
    border: .5px transparent solid;
}

/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*Шапка сайта*/

.header {
    margin: 45px auto;
}

.logo {
    float: left;
    text-decoration: none;
}

.img_logo {
    background-image: url("../img/icon.png");
    background-repeat: no-repeat;
    color: white;
}

.img_logo:visited {
    color: #ffffff;
}

.img_logo:hover {
    background-image: url("../img/icon_hover.png");
    color: #f26522;
}

.text_logo {
    margin: 0 0 0 50px;
    padding: 0;
    font-family: Verdana-bold, sans-serif;
}

.big {
    font-size: 29px;
}

.text_heder {
    float: right;
    padding: 10px 0 0 0;
    text-align: right;
}

/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*Контент сайта*/

.content {
    color: white;
    margin: 0 auto;
}

.block {
    text-align: center;
    float: left;
    margin-bottom:55px;
}

.centr_block {
    margin: 0 65px;
}

.img_bl_ob {
    width: 307px;
    height: 200px;
    background-clip: padding-box;
    border: white 2px solid;
    border-image: linear-gradient(#ffffff, #000000) 5;
}

.img_bl_1 {
    background-image: url("../img/1.png");
}

.img_bl_2 {
    background-image: url("../img/2.png");
}

.img_bl_3 {
    background-image: url("../img/3.png");
}

.img_bl_4 {
    background-image: url("../img/4.png");
}

.img_bl_5 {
    background-image: url("../img/5.png");
}

.img_bl_6 {
    background-image: url("../img/6.png");
}

.cost {
    height: 0;
    background-color: #f26522;
    margin: 200px 0 0 0;
    color: #ffffff;
    overflow: hidden;
    transition: 1s;
}

.text_price {
    float: left;
    text-align: left;
    margin: 16px 0 0 21px;
}

.from {
    font-size: 10px;
}

.price {
    font-size: 20px;
}

.details {
    float: right;
    font-size: 14px;
    margin: 32px 15px 0 0;
}

.details > p:after {
    content: "\203a";
}

.text_bl {
    margin: 24px auto 0;
    text-align: center;
}

.link {
    color: #ffffff;
    text-decoration: none;
}

.link:hover .cost {
    margin: 137px 0 0 0;
    height: 63px;
    vertical-align: bottom;
}

.link:hover {
    color: #f26522;
}

/*-------------------------------------------------------------------------------------------*/
/*Footer*/
.footer {
    clear: both;
    border: 1px transparent solid;
}

.text_footer {
    font-size: 12px;
    color: white;
    text-align: center;
    margin: 0 auto 20px;
}