.styleButton{

  background-color: green;
  color: white;
  width: 200px;
  height: 40px;
  outline: none;
  border-radius: 5px;
  cursor:pointer;
  margin: 10px 0;

}

.styleButtonX{
  background-color: #900000;
  color:white;
  position: absolute;
  right:-12px;
  top:-12px;
  outline: none;
  padding: 5px 8px;
  border-radius: 50%;
}

.buttonElStyle{
  //margin: 10px 0;
  //width: 200px;

}

.buttonElStyle ~ .buttonElStyle{
  margin-left: 10px;
}