.itemCardsStyle{
  border: 1px green solid;
  box-shadow:5px 5px 5px 0 rgba(0,91,9,0.2);
  height: 400px;
  padding: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
